table{
    width: 100%;
    padding-right: 6%;
    padding-left: 6%;
    font-size: 12px;
}

.top_tr{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #374151;
    border-radius: 10px 10px 0 0;
    padding: 15px 0;
}

.flex{
    flex: 0.2;
    display: flex;
    justify-content: left;
}

.flex_id{
    flex: 0.2;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

.th_gray{
    flex: 0.2;
    color: gray;
}

.border_tr{
    border: solid #242f3d 1px;
}

tr{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #1f2a37;
}